body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(0, 12, 11);
}
.first {
  text-align: center;
  color: white;
}
.second {
  display: flex;
  padding: 90px;
}
img {
  border-radius: 20px;
  height: 400px;
  width: 600px;
}
.taps {
  display: flex;
  margin-left: 79px;
}
.taps button {
  padding: 15px;
  background-color: rgb(194, 225, 249);
  padding-left: 40px;
  padding-right: 30px;
  letter-spacing: 10px;
  cursor: pointer;
  border: none;
  border-left: 1px solid rgb(208, 243, 243);
  transition: 0.3s;
}
button.active,
button:hover {
  background-color: white;
}
.content {
  background-color: white;
  margin-left: 79px;
}
.content > div {
  padding: 15px;
}
.content > div:not(:first-child) {
  display: none;
}
